<navbar-recipe></navbar-recipe>
<div class="container">
        <h2>שורות סקר</h2>
   <!--    <table class="table table-success" >
            <thead>
              <tr >
                <th>מספר סקר</th>
                <th>תאריך</th>
                <th>יחידה</th>
                <th>תאור</th>
                <th>פותח הסקר</th>
                <th>מבנה</th>
                <th>סטטוס</th>
              </tr>
            </thead>
            <tbody >
                <tr  ng-repeat="seker in skarim"   ng-dblclick="opensekerline(seker.id)">
                    <td contenteditable = {{setcontenteditable(seker)}} >{{seker.id}} </td> 
                    <td contenteditable = {{setcontenteditable(seker)}} >{{seker.seker_date | date : "dd/MM/yy" }}</td>
                    <td contenteditable = {{setcontenteditable(seker)}} >{{seker.unit}}</td>
                    <td contenteditable = {{setcontenteditable(seker)}} >{{seker.desc}} </td> 
                    <td contenteditable = {{setcontenteditable(seker)}} >{{getuserdetails(seker.id).name}}</td>
                    <td contenteditable = {{setcontenteditable(seker)}} >{{getMivneDetails(mivneid).desc}}</td>
                    <td contenteditable = {{setcontenteditable(seker)}} >{{seker.status}}</td>
                </tr>     
             
            </tbody>
           
        </table>
       <button type="button" class="btn btn-success" ng-click="newTable()" ng-show="showitem('sekernew')">חדש</button>
        -->
      </div>