<navbar-recipe></navbar-recipe>
<div class="jumbotron text-center" >
    <div class="media">
         <div class="media-left">
             <img ng-src="app\pics\safety.png" class="media-object" style="width:100px">
         </div>
         <div class="media-body">
           <h1>מפגעית</h1>
           <h1>מערכת לניהול סקרי בטיחות</h1>
         </div>
     </div> 
      
 </div>
 <div class= "media  medialoginimg" >
    <img class="media-object" id= "imglogin" ng-src="app\pics\login.jpg" alt="Avatar" ng-click="showlogin()" >
 </div> 
 
<div class="container login" ng-show = "showform()">
    
    <div class="alert alert-danger" role="alert" ng-show="invalidLogin">
        שם משתמש או סיסמא לא נכונים
    </div>
    <form>
        <div class="form-group">
            <label for="tz">ת.ז :</label>
            <input type="text" class="form-control" id="tz" ng-model="tz" ng-keyup="checkdigit()">
         </div>
        <div class="form-group">
            <label for="pwd">סיסמא : </label>
            <input type="password" class="form-control" id="pwd" ng-model="pwd">
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="login()">כנס</button>
            <label>
               <input type="checkbox"  name="remember" id = "remember" ng-model= "remember" ng-change ="rememverMy()" > זכור אותי
            </label>
        </div>  
        <div class="container" id = "forgor" >
            <span class="psw"><a href="mailto:haifaboy@gmail.com">שכחת סיסמא ?</a> </span>
        </div>
    </form>
</div>