<navbar-recipe></navbar-recipe>
<div class="container">
  <h2>טבלאות מערכת</h2>
 <table class="table table-success" >
      <thead>
        <tr >
          <th>No.</th>
          <th>שם הטבלה</th>
          <th>תאור</th>
        </tr>
      </thead>
      <tbody >
          <tr  ng-repeat="table in tables"   ng-dblclick="opentable(table)">
              <td contenteditable = {{setcontenteditable(table)}} >{{table.id}} </td> 
              <td contenteditable = {{setcontenteditable(table)}} >{{table.name }}</td>
              <td contenteditable = {{setcontenteditable(table)}} >{{table.desc}}</td>
          </tr>      
       
      </tbody>
      
      
  </table>
  <p>* להיכנס לפרטי הטבלה לחץ  Double Click על השורה המבוקשת </p>
  <button type="button" class="btn btn-success" ng-click="newTable()" ng-show="showitem('systemnew')">חדש</button>
  
</div>

