<navbar-recipe></navbar-recipe>
<div class="container ">
    <h2>{{mid}}</h2>
    <div class="table-wrapper-scroll-y">
      <table class="table table-bordered table-striped" >
          <thead>
            <tr >
              <th ng-repeat="tablehead in tableheads" ng-show = "showheader(tablehead)" >{{tablehead}}</th> 
            </tr>
          </thead>
          <tbody id="sysemtablebody">
              <tr ng-repeat="row in tableitems">
                  <td ng-repeat="column in row"  contenteditable = {{setcontenteditable(row)}}   >
                    {{ column }}
                  </td>
                </tr>
          
          </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-success  buttontable" ng-click="addnewrow()" ng-show="showitem('tablepagenew-'+mid)">חדש</button>
    <button type="button" class="btn btn-success  buttontable" ng-click="update()" ng-show="showsave()">שמור</button>
    <button type="button" class="btn btn-success  buttontable" ng-click="goback()">חזור</button>
</div>    
